{# ~~NoDownstream:Page->Page:Page~~ #}
{% extends "base.html" %}

{% from "_macros.html" import file_refs %}

{% block page_title %}No Downstream{% endblock %}

{% block content %}
    <h2 class="display-3 text-center">No Downstream</h2>
    <p>A list of any entity declared either explicitly or in a relationship which does not then have
    other entities that it declares downstream relationships to.  This may indicate that an entity
    is not yet fully documented, and needs further relationships defined.  If not, the entity may
    be a terminal, in which case it can be registered in <code>{{ config.get("terminals") }}</code>.</p>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Entity</th>
                <th scope="col">Entity Definition</th>
                <th scope="col">Relation Definition</th>
            </tr>
        </thead>
        <tbody>
        {%- if data.no_downstreams %}
        {%- for target, entity_defs, relation_defs in data.no_downstreams %}
            <tr>
                <td>
                    {{ target }}
                </td>
                <td>
                    {% if entity_defs %}
                    {{ file_refs(entity_defs, config) }}
                    {% endif %}
                </td>
                <td>
                    {% if relation_defs %}
                    {{ file_refs(relation_defs, config) }}
                    {% endif %}
                </td>
            </tr>
        {% endfor -%}
        {% else %}
            <tr>
                <td colspan="3" class="text-center">There are no entities which have no downstream relationships which are
                    not registered in <code>{{ config.get("terminals") }}</code></td>
            </tr>
        {% endif -%}
        </tbody>
    </table>
{% endblock %}