{# ~~UnexpectedDownstream:Page->Page:Page~~ #}
{% extends "base.html" %}

{% from "_macros.html" import file_refs %}

{% block page_title %}Unexpected Downstream{% endblock %}

{% block content %}
    <h2 class="display-3 text-center">Unexpected Downstream</h2>
    <p>The entities listed here have downstream relationships even though they are listed in <code>{{ config.get("terminals") }}</code></p>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Entity</th>
                <th scope="col">Entity Definition</th>
                <th scope="col">Relation Definition</th>
            </tr>
        </thead>
        <tbody>
            {%- if data.unexpected_downstreams %}
            {%- for target, entity_defs, relation_defs in data.unexpected_downstreams %}
                <tr>
                    <td>
                        {{ target }}
                    </td>
                    <td>
                        {% if entity_defs %}
                        {{ file_refs(entity_defs, config) }}
                        {% endif %}
                    </td>
                    <td>
                        {% if relation_defs %}
                        {{ file_refs(relation_defs, config) }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor -%}
            {% else %}
                <tr>
                    <td colspan="3" class="text-center">
                        There are no entities with unexpected downstream relationships.
                    </td>
                </tr>
            {% endif %}
        </tbody>
    </table>
{% endblock %}