{# ~~Header:UIComponent~~ #}
<header class="container">
    <div class="row"><div class="col bg-info border-bottom border-2 border-primary">
        <h1>FeatureMap for {{ config.get("project_name", "FeatureMap") }}</h1>
    </div></div>

    {# ~~->Navigation:UIComponent~~ #}
    <nav>
        <ul class="nav">
            <li class="nav-item"><a class="nav-link" href="relationships.html">Relationships</a></li>
            <li class="nav-item"><a class="nav-link" href="entities.html">Entities</a></li>
            <li class="nav-item"><a class="nav-link" href="files.html">Files</a></li>
            <li class="nav-item"><a class="nav-link" href="no-downstream.html">No Downstream</a></li>
            <li class="nav-item"><a class="nav-link" href="unexpected-downstream.html">Unexpected Downstream</a></li>
            <li class="nav-item"><a class="nav-link" href="unseen-terminals.html">Unseen Terminals</a></li>
        </ul>
    </nav>
</header>