{# ~~Entities:Page->Page:Page~~ #}
{% extends "base.html" %}

{% from "_macros.html" import file_refs %}

{% block page_title %}Entities{% endblock %}

{% block content %}
    <h2 class="display-3 text-center">Entities</h2>
    <p>Every entity that is explicity defined in the source.  Entities which are referenced only by relationship to another entity
    are not listed here</p>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Entity</th>
                <th scope="col">Definition</th>
            </tr>
        </thead>
        <tbody>
        {% set entities = data.entities.keys()|list|sort %}
        {%- for e in entities %}
            <tr>
                <td>{{ e }}</td>
                <td>{{ file_refs(data.entities.get(e, []), config) }}</td>
            </tr>
        {% endfor -%}
        </tbody>
    </table>
{% endblock %}