{# ~~Navigation:UIComponent~~ #}
<header class="page-header">
    <h1>FeatureMap for {{ config.get("project_name", "FeatureMap") }}</h1>
    <nav>
        <ul>
            <li><a href="/relationships.html">Relationships</a></li>
            <li><a href="/entities.html">Entities</a></li>
            <li><a href="/files.html">Files</a></li>
            <li><a href="/no-downstream.html">No Downstream</a></li>
            <li><a href="/unexpected-downstream.html">Unexpected Downstream</a></li>
            <li><a href="/unseen-terminals.html">Unseen Terminals</a></li>
        </ul>
    </nav>
</header>